.video {
    flex: 0.7;
    right: 0;
    position: absolute;
    width: fit-content;
    z-index: 5;
    top: 60px;
}

.video__video {
    background-color: blue;
    width: 20%;
}

.video__test {
    background-color: coral;
    width: 20%;
}

.video__receiver {
    background-color: red;
    height: 30%;
    width: 20%;
}

.video__inActive {
    display: none;
}

.red {
    position: absolute;
    top: 75%;
    left: 35%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    z-index: 2;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transform: scale(1.5);
}

.blue {
    background-color: blue;
    cursor: pointer;
    left: 50%;
}

#test {
    background-color: coral;
    cursor: pointer;
    left: 75%;
}
/* .div {
    flex: 0.7;
    right: 0;
    height: 100vh;
    border-right: 1px solid lightgrey;
    background-color: coral;
} */
